Homework/Homework-1/data/*.parquet
Homework/Homework-2/data/*.parquet
Homework/Homework-2-wandb/data/*.parquet
.ipynb_checkpoints
__pycache__
*.db
train.pkl
test.pkl
val.pkl
regressor.pkl
output/
Homework/Homework-2/artifacts/
wandb/
Homework/Homework-4/model.bin
Homework/Homework-2-wandb/homework.ipynb
Homework/Homework-2/*
Homework/Homework-5/data/*.parquet
Homework/Homework-5/models/*.bin
.vscode